.container {
    position: fixed;
    top: 0px;
    right: 0px;
    left: 0px;
    background-color: orangered;
    color: white;
    padding: 5px 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 14px;
    font-weight: 400;
    z-index: 999999;
}

.socialMeida {
    flex : 1 ;
    display: flex;
    gap: 10px;
    align-items: center;
}

.Icons {
    font-size: 16px;
    border-radius: 50%;
    color: #fff;
}

.offer {
    flex : 1 ;
    text-align: center;
    font-size: 0.75rem;
}

.lang {
    flex : 1 ;
    display: flex;
    align-items: center;
    gap: 10px;
    justify-content: flex-end;
}

.Selector {
    border-radius : 10px;
    border-color : white ;
    padding: 4px;
    font-weight: bold ;
}