.Info {
  opacity: 0;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.2);
  z-index: 3;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.5s ease;
  cursor: pointer;
}

.Container {
  flex: 1;
  margin: 5px;
  height: 350px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  background-color: #f5fbfd;
  position: relative;
}

.Container:hover .Info{
  opacity: 1;
}
.Circle {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  background-color: white;
  position: absolute;
}

.Image {
  height: 75%;
  z-index: 2;
}

.Icon {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 10px;
  transition: all 0.5s ease;
}

.Icon:hover {
  background-color: #e9f5f5;
  transform: scale(1.1);
}
