.Wrapper {
  padding: 50px;
  display: flex;
}
.ImgContainer {
  flex: 6;
}

.Image {
  width: 100%;
  height: 60vh;
  object-fit: cover;
  outline: 4px solid orangered;
  outline-offset: 12px;
  transition: 0.75s ease-in-out;
  cursor: pointer;
}

.InfoContainer {
  flex: 5;
  padding: 0px 50px;
}

.Title {
  font-weight: 200;
}

.Desc {
  margin: 20px 0px;
}

.Price {
  font-weight: 100;
  font-size: 40px;
}

.FilterContainer {
  width: 50%;
  margin: 30px 0px;
  display: flex;
  justify-content: space-between;
}

.Filter {
  display: flex;
  align-items: center;
}

.FilterTitle {
  font-size: 20px;
  font-weight: 200;
}

.FilterColor {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  margin: 0px 5px;
  cursor: pointer;
}

.FilterSize {
  margin-left: 10px;
  padding: 5px;
}

.AddContainer {
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.AmountContainer {
  display: flex;
  align-items: center;
  font-weight: 700;
}

.Amount {
  width: 30px;
  height: 30px;
  border-radius: 10px;
  border: 1px solid teal;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0px 5px;
}
.Button {
  padding: 15px;
  border: none;
  background-color: white;
  cursor: pointer;
  font-weight: 500;
  outline: 2px solid orange;
  outline-offset: 4px;
  transition: 0.5s linear;
}

.Button:hover {
  background-color: orangered;
  outline: 2px solid white;
  outline-offset: -7px;
}

.Btn {
    padding: 5px;
    font-size: 30px;
}
