.mainSwiper {
    width: 100%;
    height: 600px;
    display: flex;
    position: relative;
    overflow: hidden;
    margin-top: 37px;
}

.Slide {
    display: flex;
    height: 100%;
    background: rgb(224, 219, 219);
}

.ImgSlideContainer ,
.InfoSlideContainer{
    width: 50%;
}

.ImgSlide{
    display: inline-block;
    width: 100%;
    height: 100%;
    object-fit: fill;
}

.InfoSlideContainer {
    height: 100%;
    padding: 30px 15px ;
}

.titleSlide {
    width: 100%;
    font-size: 70px;
    font-weight: bold;
}

.descriptionSlie {
    width: 100%;
    font-size: 20px;
    font-weight: 500;
    padding-bottom: 10px;
}   

.shopNow {
    padding: 10px;
    font-size: 20px;
    background-color: transparent;
    cursor: pointer;
}