@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

:root {
  --cp-color-1-hsl: 0deg 0% 100%;
  --cp-color-1: hsl(var(--cp-color-1-hsl));
  --cp-color-2-hsl: 240deg 7.69% 94.9%;
  --cp-color-2: hsl(var(--cp-color-2-hsl));
  --cp-color-3-hsl: 225deg 10.53% 92.55%;
  --cp-color-3: hsl(var(--cp-color-3-hsl));
  --cp-color-4-hsl: 228deg 9.8% 90%;
  --cp-color-4: hsl(var(--cp-color-4-hsl));
  --cp-color-5-hsl: 226.67deg 12% 85.29%;
  --cp-color-5: hsl(var(--cp-color-5-hsl));
  --cp-color-6-hsl: 230deg 12% 80.39%;
  --cp-color-6: hsl(var(--cp-color-6-hsl));
  --cp-color-7-hsl: 225.88deg 13.39% 75.1%;
  --cp-color-7: hsl(var(--cp-color-7-hsl));
  --cp-color-8-hsl: 226.67deg 11.84% 70.2%;
  --cp-color-8: hsl(var(--cp-color-8-hsl));
  --cp-color-9-hsl: 233.33deg 9.89% 64.31%;
  --cp-color-9: hsl(var(--cp-color-9-hsl));
  --cp-color-10-hsl: 226.15deg 12.04% 57.65%;
  --cp-color-10: hsl(var(--cp-color-10-hsl));
  --cp-color-11-hsl: 228.39deg 12.25% 50.39%;
  --cp-color-11: hsl(var(--cp-color-11-hsl));
  --cp-color-12-hsl: 228deg 12.2% 40.2%;
  --cp-color-12: hsl(var(--cp-color-12-hsl));
  --cp-color-13-hsl: 227.37deg 12.26% 30.39%;
  --cp-color-13: hsl(var(--cp-color-13-hsl));
  --cp-color-14-hsl: 222.86deg 13.73% 20%;
  --cp-color-14: hsl(var(--cp-color-14-hsl));
  --cp-color-15-hsl: 223.64deg 12.94% 16.67%;
  --cp-color-15: hsl(var(--cp-color-15-hsl));
  --cp-color-16-hsl: 232.5deg 11.76% 13.33%;
  --cp-color-16: hsl(var(--cp-color-16-hsl));
  --cp-color-17-hsl: 225deg 9.52% 8.24%;
  --cp-color-17: hsl(var(--cp-color-17-hsl));
  --cp-color-18-hsl: 240deg 9.09% 4.31%;
  --cp-color-18: hsl(var(--cp-color-18-hsl));
  --cp-color-19-hsl: 0deg 0% 0.39%;
  --cp-color-19: hsl(var(--cp-color-19-hsl));
  --cp-color-20-hsl: 0deg 0% 0%;
  --cp-color-20: hsl(var(--cp-color-20-hsl));
  --cp-color-shadow: hsl(var(--cp-color-18-hsl) / 60%);
  --cp-color-green-hsl: 139.41deg 58.62% 54.51%;
  --cp-color-green: hsl(var(--cp-color-green-hsl));
  --cp-color-green-light-hsl: 139.09deg 100% 91.37%;
  --cp-color-green-light: hsl(var(--cp-color-green-light-hsl));
  --cp-color-green-dark-hsl: 139.62deg 59.09% 34.51%;
  --cp-color-green-dark: hsl(var(--cp-color-green-dark-hsl));
  --cp-color-yellow-hsl: 49.32deg 100% 62.55%;
  --cp-color-yellow: hsl(var(--cp-color-yellow-hsl));
  --cp-color-yellow-light-hsl: 48.97deg 87.88% 80.59%;
  --cp-color-yellow-light: hsl(var(--cp-color-yellow-light-hsl));
  --cp-color-yellow-dark-hsl: 49.22deg 100% 42.55%;
  --cp-color-yellow-dark: hsl(var(--cp-color-yellow-dark-hsl));
  --cp-color-purple-hsl: 274.88deg 70.49% 64.12%;
  --cp-color-purple: hsl(var(--cp-color-purple-hsl));
  --cp-color-purple-light-hsl: 266.96deg 56.1% 75.88%;
  --cp-color-purple-light: hsl(var(--cp-color-purple-light-hsl));
  --cp-color-purple-dark-hsl: 265.63deg 38.71% 48.63%;
  --cp-color-purple-dark: hsl(var(--cp-color-purple-dark-hsl));
  --cp-color-red-hsl: 358.46deg 100% 61.76%;
  --cp-color-red: hsl(var(--cp-color-red-hsl));
  --cp-color-red-very-light-hsl: 4.62deg 100% 89.8%;
  --cp-color-red-very-light: hsl(var(--cp-color-red-very-light-hsl));
  --cp-color-red-light-hsl: 3.23deg 76.86% 76.27%;
  --cp-color-red-light: hsl(var(--cp-color-red-light-hsl));
  --cp-color-red-dark-hsl: 0deg 90.48% 32.94%;
  --cp-color-red-dark: hsl(var(--cp-color-red-dark-hsl));
  --cp-color-blue-hsl: 196.18deg 100% 52.75%;
  --cp-color-blue: hsl(var(--cp-color-blue-hsl));
  --cp-color-blue-light-hsl: 196.2deg 100% 73.14%;
  --cp-color-blue-light: hsl(var(--cp-color-blue-light-hsl));
  --cp-color-blue-dark-hsl: 206.42deg 52.76% 50.2%;
  --cp-color-blue-dark: hsl(var(--cp-color-blue-dark-hsl));
  --cp-color-link-hsl: 196.2deg 100% 73.14%;
  --cp-color-link: hsl(var(--cp-color-link-hsl));
  --cp-color-link-on-white-hsl: 191.79deg 64.37% 34.12%;
  --cp-color-link-on-white: hsl(var(--cp-color-link-on-white-hsl));
  --cp-color-link-on-black-hsl: 202.45deg 93.14% 65.69%;
  --cp-color-link-on-black: hsl(var(--cp-color-link-on-black-hsl));
  --cp-color-pens-hsl: 196.18deg 100% 52.75%;
  --cp-color-pens: hsl(var(--cp-color-pens-hsl));
  --cp-color-posts-hsl: 139.41deg 58.62% 54.51%;
  --cp-color-posts: hsl(var(--cp-color-posts-hsl));
  --cp-color-collections-hsl: 274.88deg 70.49% 64.12%;
  --cp-color-collections: hsl(var(--cp-color-collections-hsl));
  --cp-color-projects-hsl: 49.32deg 100% 62.55%;
  --cp-color-projects: hsl(var(--cp-color-projects-hsl));
}

.main {
  width: 100vw;
  min-height: 100vh;
  position: fixed;
  display: flex;
  justify-content: center;
  padding: 120px 24px 160px 24px;
  pointer-events: none;
}

@media screen and (max-width: 640px) {
  .main {
    padding: 0;
  }
}

.full-width {
  width: 100vw;
  margin-left: 50%;
  transform: translateX(-50%);
  max-width: 100%;
}

.SidebarCreate-module_anonButton-5yd5b {
  margin: 0 auto;
  width: 8rem;
  height: 4rem;
  text-align: center;
  position: relative;
  border-radius: 6px;
  box-sizing: border-box;
  color: var(--cp-color-1);
  display: block;
  z-index: 2;
  overflow: hidden;
  padding: 3px
}

.SidebarCreate-module_anonButton-5yd5b:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 200%;
  height: 100%;
  background: linear-gradient(115deg, #4fcf70, #fad648, #a767e5, #12bcfe, #44ce7b);
  background-size: 50% 100%
}

.SidebarCreate-module_anonButton-5yd5b span {
  position: relative;
  z-index: 2;
  padding: .875rem 0;
  font-size: 1.1rem;
  align-items: center;
  background: #000;
  border-radius: 3px;
  display: block;
  justify-content: center;
  box-sizing: border-box;
  height: 100%
}

.SidebarCreate-module_anonButton-5yd5b:focus:before,
.SidebarCreate-module_anonButton-5yd5b:hover:before {
  animation: SidebarCreate-module_rainbowSlide-feOE0 .75s linear infinite
}

@keyframes SidebarCreate-module_rainbowSlide-feOE0 {
  to {
    transform: translateX(-50%)
  }
}

/* Tailwind Styles */

.screen-reader-text {
  @apply hidden;
}

.app {
  @apply relative z-10 flex justify-center items-center flex-col;
}

.flex-center {
  @apply flex justify-center items-center;
}

.flex-start {
  @apply flex justify-start items-start;
}

.flex-end {
  @apply flex justify-end items-center;
}

.flex-between {
  @apply flex justify-between items-center;
}