<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TTS - Text To Speech</title>
</head>
<body>
    <h1>TTS - Text To Speech</h1>
    <form method="POST" action="/convert">
        <textarea name="text" placeholder="Enter text to convert"></textarea><br>
        <button type="submit">Convert to Speech</button>
    </form>
    <audio controls id="adiuo-player" src="{{ url_for('static' , filename='sounds/sound_1.mp3')}}" type="audio/img"></audio>
</body>
</html>