* {
  margin: 0;
  padding: 0;

  box-sizing: border-box;

  font-family: "Roboto", -apple-system, BlinkMacSystemFont, "Segoe UI", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

:root {
  --black: #0b0e14;
  --white: #ffffff;

  --primary-color: #f7cb45;
}

body {
  background: var(--black);
}

.main-container {
  height: 100vh;
  width: 100%;

  max-width: 1920px;
  min-width: 1000px;

  margin: auto;
}

.main-header {
  height: 120px;
  width: 100%;

  display: flex;
}

.main-header > aside {
  height: 100%;
  width: 50%;

  padding: 0px 30px;

  display: flex;
  align-items: center;
}

.title h1 {
  background: var(--primary-color);

  padding: 15px 25px;

  font-size: 25px;

  border-radius: 30px;
}

.profile {
  display: flex;
  align-items: center;

  flex-direction: row-reverse;
}

.profile-container {
  height: 60px;
  width: 240px;

  display: flex;
  align-items: center;
}

.profile-photo {
  height: 60px;
  width: 60px;

  border-radius: 50%;

  overflow: hidden;

  border: solid 3px var(--primary-color);
}

.profile-photo img {
  height: 100%;
  width: 100%;
}

.profile-name-username {
  width: 180px;
  height: 60px;

  padding: 10px 15px;
}

.profile-name-username p {
  width: 100%;

  color: var(--white);
}

.profile-name-username a:last-child {
  color: var(--primary-color);
}

.main-body {
  height: calc(100% - 160px);
  width: 100%;

  display: flex;
}

.main-body aside {
  width: 50%;
  height: 100%;

  display: flex;
  align-items: flex-start;
  justify-content: center;
}

.main-frame {
  background: #0d1117;

  width: 700px;
  height: 530px;


  overflow: hidden;
}

.main-frame-title {
  width: 100%;

  background: #282c312f;

  user-select: none;
}

.main-frame-title p {
  color: var(--white);

  padding: 15px 20px;

  font-weight: bold;
}

.checkbox-input,
.color-input,
.range-input {
  height: 60px;
  width: 100%;

  display: flex;
}

.checkbox-input .label,
.color-input .label,
.range-input .label {
  height: 100%;
  width: auto;

  display: flex;
  align-items: center;

  color: white;

  padding: 0px 20px;

  min-width: 120px;
}

.checkbox-input .checkbox,
.color-input .color,
.range-input .range {
  height: 100%;
  width: 100%;

  display: flex;
  align-items: center;
  justify-content: center;
}

.color-input .color {
  background: var(--primary-color);

  margin: 10px 25px 10px 0px;

  height: 40px;

  border-radius: 20px;

  position: relative;
}

.color-input .color input {
  border: none;

  background: none;

  width: 100px;
}

.range-input .range input {
  -webkit-appearance: none;
  width: 100%;
  height: 1px;

  outline: none;

  border: 2px solid var(--white);
  border-radius: 4px;
}

/* for chrome/safari */
.range-input .range input::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;

  width: 20px;
  height: 20px;

  background: var(--primary-color);

  cursor: pointer;

  border-radius: 10px;
}

/* for firefox */
.range-input .range input::-moz-range-thumb {
  width: 20px;
  height: 20px;

  background: var(--primary-color);

  cursor: pointer;

  border-radius: 10px;
}

.range-input .value {
  height: 60px;
  min-width: 120px;

  display: flex;
  align-items: center;
  justify-content: center;
}

.range-input .value input {
  color: var(--black);

  background: var(--primary-color);

  width: 70px;
  padding: 8px;

  border-radius: 20px;

  text-align: center;

  border: none;
  outline: none;
}

.main-frame-output {
  height: 100%;

  background: var(--white);

  overflow: hidden;
}

.box-container {
  height: 50%;
  width: 100%;

  display: grid;
  place-items: center;
}

.box-container .box {
  height: 70%;
  width: 80%;

  background: var(--primary-color);

  border-radius: 10px;
}

.code-container {
  height: 210px;

  display: grid;
  place-items: center;
}

.code-container .code {
  width: 80%;
  height: 150px;

  overflow: hidden;

  border-radius: 10px;

  position: relative;
}

.code-container .code textarea {
  height: 100%;
  width: 100%;

  outline: none;

  border: none;

  background: var(--black);

  color: var(--white);

  font-size: 16px;

  padding: 20px;
}

.code-container .code button {
  background: var(--primary-color);

  position: absolute;

  bottom: 0;
  right: 0;

  margin: 15px;
  padding: 5px 20px;

  font-size: 12px;

  border-radius: 5px;
  border: none;
  outline: none;

  cursor: pointer;
}

.code-container .code button:active {
  opacity: 0.9;
}

.checkbox-input .checkbox {
  justify-content: flex-start;
}

input[type="checkbox"] {
  display: none;
}

input[type="checkbox"] + label {
  width: 70px;
  height: 30px;

  background: var(--primary-color);

  border-radius: 15px;

  cursor: pointer;

  overflow: hidden;

  position: relative;
}

input[type="checkbox"] + label p {
  font-size: 11px;

  width: 100%;
  height: 100%;

  display: flex;

  justify-content: space-between;
  align-items: center;

  padding: 10px;

  color: var(--black);

  user-select: none;
}

input[type="checkbox"] + label::before {
  content: "";

  height: 26px;
  width: 26px;

  background: var(--black);

  position: absolute;

  border-radius: 50%;

  margin: 2px 3px;

  transition: 0.3s ease-in-out;
}

input[type="checkbox"]:checked + label::before {
  transform: translate(37px);
}

.main-footer {
  display: flex;

  justify-content: center;

  height: 40px;

  color: white;
}

.main-footer a {
  color: var(--primary-color);

  text-decoration: none;

  text-transform: capitalize;
}

/* Responsive section */
@media (max-width: 480px) {
  .main-container {
    min-width: 100px;

    height: auto;
  }

  .main-header {
    height: 60px;
  }

  .main-header > aside {
    padding: 15px;
  }

  .title h1 {
    font-size: 10px;

    padding: 10px;

    border-radius: 5px;

    background: var(--primary-color);
  }

  .profile-name-username {
    display: none;
  }

  .profile-container {
    flex-direction: row-reverse;
  }

  .profile-photo {
    height: 40px;
    width: 40px;
  }

  .main-body {
    flex-wrap: wrap;
  }

  .main-body aside {
    width: 100%;
    height: auto;
  }

  .main-frame {
    border-radius: 0px;
  }

  .main-frame {
    height: auto;
  }

  .main-frame-output {
    height: 500px;

    display: flex;
    flex-flow: column-reverse;
  }

  .main-frame-controls {
    padding-bottom: 20px;
  }

  input[type="checkbox"] + label p {
    font-size: 10px;
  }

  .code-container .code {
    height: 200px;
    width: 90%;
  }

  .code-container .code button {
    font-size: 14px;

    font-weight: bold;
  }

  .main-footer {
    font-size: 18px;

    height: 60px;
  }
}
