
html,
body {
  position: relative;
  height: 100%;
}

body {
  background: #eee;
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
  font-size: 14px;
  color: #000;
  margin: 0;
  padding: 0;
}


.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.swiper_top , .swiper_down{
  width: 680px;
  height: 220px;
  margin-top: 10px;
}
.bg_khadmat{
  z-index: -1;
  background: linear-gradient(180deg,rgba(69,182,203,1) 0%,rgba(62,166,190,1) 19%,rgba(32,101,140,1) 55%,rgba(26,41,94,1) 100%);
  position: relative;
  width: 490px;
}
.bg_khadmat::after{
  content:"";
  position:absolute;
  top:0;
  left:0;
  z-index:0;
  width:100%;
  height:100%;
  background: url(/images/svg/khadamat/bg.svg) no-repeat;
}
.khadamat_header{
  margin: 19px 21px 16px 0px;
}
.header_icon_khadamat{
  display:block;
  float:right;
  width:29px;
  height:29px;
  margin-left:10px;
  background: url(/images/svg/khadamat/sar.svg) no-repeat;

}
.header_name_khadamat{
  font:18px iranSansBold;
  font-weight: bold;
  color:#fff
}
.khadamat_items{
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* flex-wrap: wrap; */
  flex-wrap: inherit;
  padding: 0px 20px;
}
.khadamat_item {
  min-width: 140px;
  height: 120px;
  margin-bottom: 18px;
  margin-top: 2px;
  background: linear-gradient(180deg,rgba(255,255,255,1) 0%,rgba(218,218,218,1) 100%);
  padding: 20px;
  border-radius: 10px;
  z-index: 10;
}
.khadamat_img{
  display:block;
  width: 41px;
  height:53px;
  margin: 0 auto;
  overflow:hidden
}
.khadamat_img img{
  width: 100%;
  height: auto;
}
.khadamat_text a {
  font: 11px/22px iranSans;
  color:#495694;
  text-align:center;
  display:block;
  cursor: pointer;
  padding-top:8px
}
.khadamat_text a:hover{
  color:#011e96;
  text-shadow:0 0 #011e96
}

