@import "../../app.scss";

.hero {
  height: calc(100vh - 100px);
  overflow: hidden;
  background: linear-gradient(180deg, #0c0c1d, #111132);
  position: relative;

  .wrapper {
    max-width: 1366px;
    padding: 0px 20px;
    height: 100%;
    margin: auto;

    .textContainer {
      width: 60%;
      height: 100%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      gap: 40px;
      @include xs {
        width: 100%;
      }
      @include md {
        width: 50%;
      }

      .carraer_title {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        background: repeating-radial-gradient(
            circle at 100% 100%,
            rgba(255, 190, 11, 0.5) 4%,
            rgba(255, 190, 11, 0.5) 8%,
            rgba(251, 86, 7, 0.5) 8%,
            rgba(251, 86, 7, 0.5) 12%,
            rgba(255, 0, 110, 0.5) 12%,
            rgba(255, 0, 110, 0.5) 16%,
            rgba(131, 56, 236, 0.5) 16%,
            rgba(131, 56, 236, 0.8) 20%,
            rgba(58, 134, 255, 0.5) 20%,
            rgba(58, 134, 255, 0.5) 24%
          ),
          repeating-radial-gradient(
            circle at 0% 100%,
            rgba(255, 190, 11, 0.7) 4%,
            rgba(255, 190, 11, 0.9) 8%,
            rgba(251, 86, 7, 0.7) 8%,
            rgba(251, 86, 7, 0.9) 12%,
            rgba(255, 0, 110, 0.7) 12%,
            rgba(255, 0, 110, 0.9) 16%,
            rgba(131, 56, 236, 0.8) 16%,
            rgba(131, 56, 236, 0.8) 20%,
            rgba(58, 134, 255, 0.8) 20%,
            rgba(58, 134, 255, 0.8) 24%
          );
        background-size: 250px 250px;
        background-position: 0 0;
        -webkit-animation: stripes 3s linear infinite;
        animation: stripes 3s linear infinite;
        background-clip: text;
        -webkit-background-clip: text;
        color: transparent;
        @-webkit-keyframes stripes {
          100% {
            background-position: 250px 0, 250px 0, 100px 0;
          }
        }

        @keyframes stripes {
          100% {
            background-position: 250px 0, 250px 0, 100px 0;
          }
        }
        h1 {
            font-size: 55px ;
          
          @include xs {
            font-size: 18vw;
                    }

          @include md {
            font-size: 75px;
          }

          @include lg {
            font-size: 100px;
          }
        }
      }

      .buttons {
        @include xxs {
          white-space: nowrap;
        }
        button {
          border: 1px solid white;
          border-radius: 12px;
          background-color: transparent;
          color: white;
          margin-right: 20px;
          cursor: pointer;
          font-weight: bold;
          position: relative;

          a {
            display: block;
            text-decoration: none;
            padding: 10px;
            position: relative;
            z-index: 10;
            overflow: hidden;
            border-radius: 10px;
            transition: all 0.3s ease-in-out;
            @include xxs {
              padding: 10px !important;
            }
            @include xs {
              padding: 20px;
            }
            @include md {
              padding: 20px;
            }

            &:before {
              content: "";
              position: absolute;
              inset-block-start: 100%;
              inset-inline-start: -100%;
              block-size: 100%;
              inline-size: 100%;
              background: hsl(261deg 80% 90%);
              z-index: -1;
              transition: all 0.2s ease-in-out;
            }

            &:hover {
              color: hsl(302deg 70% 5% / 90%);
            }

            &:hover::before {
              inset-block-start: 0;
              inset-inline-start: 0;
            }
          }
        }
      }

      img {
        width: 50px;
      }
    }
  }

  .imageContainer {
    height: 100%;
    width: 69%;
    position: absolute;
    top: 0;
    right: 0;
    @include xs {
      display: none;
    }
    @include md {
      width: 58%;
    }
    @include lg {
      width: auto;
    }
    img {
      width: 100%;
      height: 100%;
      object-fit: fill;
      @include lg {
        object-fit: contain;
      }
    }
  }

  .slidingTextContainer {
    position: absolute;
    font-size: 40vh;
    bottom: 0px;
    white-space: nowrap;
    color: #ffffff09;
    width: 50%;
    font-weight: bold;
  }
}
