h2{
    text-align: center;
    margin: 0;
    margin-bottom: 2rem;
}

.Form{
    display: grid;
    gap : 1rem .5rem;
    justify-content: flex-start;
    grid-template-columns: auto minmax(auto , 480px);
}

input{
    border-radius: .5rem;
}
